{% extends 'dashboard/base.html' %}
{% block content %}
<h3>All Payments</h3>
<table>
    <tr>
        <th>Date</th><th>Student</th><th>Amount</th><th>Method</th><th>Reference</th><th>Received By</th>
    </tr>
    {% for payment in payments %}
    <tr>
        <td>{{ payment.date }}</td>
        <td>{{ payment.student }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.method }}</td>
        <td>{{ payment.reference }}</td>
        <td>{{ payment.received_by }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}